
/********MAIN******/

body {
    background: white;
    width: 98%;
    margin: auto;
    font-family: 'Jaldi';
    overflow: hidden;
}

a {
    text-decoration: none;

}
ul, li{
    list-style: none;
}


h1 {
   margin: none;
}


/********MAIN NAME******/

.title {
    margin-top: 20px;
    text-align: center;

}


.name, 
.surname {
    margin: 0;
    letter-spacing: 8px;
}

.surname {
    margin-top: -20px;
    color: #695D66;
}



/*******NAVIGATION MENU******/

.navigation  {
    display: flex;
    flex-direction: row no-wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 10px;

   }


/********DROPDOWN MENU ON NAVIGATION******/

.dropbtn,
.navigation a {
    background-color: white;
    color: #695D66;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Jaldi';
}

.menu, 
.stories {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 160px;

}

.dropdown-content a {
    color: #E0D3DE;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #695D66 ;

}

.dropdown:hover .dropdown-content {
    display: block;
    border: 1.5px solid #E0D3DE;
    margin-top: -20px;
}

.dropdown:hover .dropbtn {
    background-color: white;
}


/********IMAGE CARUSELE******/

.fade {
    margin-top: -20px;
}

.fade img {
    height: 200px;
    width: 300px;
    margin: 10px auto;
    padding-right: 10px;
}

/********SOCIAL******/

.contact {
    display: flex;
    flex-direction: row wrap;
   justify-content: center;
   margin-top: 100px;

}
.contact img {
    height: 30px;
    width: 30px;
}

/********BRING ME BACK******/

#bringmeback {
    text-align: center;
    margin-top: 30px;
}
    #bringmeback a {
    color: #4F6178;
}


/********FOOTER******/

footer {
    text-align: center;
    margin-top: 50px;
    color: #4F6178;
}

/******** MEDIA QUERIES ******/

@media only screen and (min-width: 481px){
    body{
        background-color: yellow;
    }
    .navigation {
        justify-content: space-around;
    }

    

    
}

    @media only screen and (min-width: 1024px) {
        body { background-color: white;
                width: 80%;
                overflow: scroll;
            }
            
        .fade {
        margin-top: 20px;
         }

        .fade img {
            height: 500px;
            width: auto;
        }
    /********MAIN NAME******/

.title {
    margin-top: 20px;
    text-align: left;

}

/*******NAVIGATION MENU******/

.navigation  {
    display: flex;
    flex-direction: row no-wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-top: -70px;

   }
   .contact img {
    height: 50px;
    width: 50px;
}

















