
/********MAIN******/

body {
    background: white;
    width: 98%;
    margin: auto;
    font-family: 'Jaldi';
}

a {
    text-decoration: none;

}

ul, li {
    list-style: none;
}


h1 {
   margin: none;
}


/********MAIN NAME******/

.title {
    margin-top: 20px;
    text-align: center;
    margin-left: 5px;
}

.name, 
.surname {
    margin: 0;
    letter-spacing: 8px;
}

.surname {
    margin-top: -20px;
}

.surname a{
    color: #4D414B;
}
.name a{
    color: #968F95;

}



/*******NAVIGATION MENU for DESCKTOP******/
   
.hidden {
    display: none;
}

#desktop {
    display: none;
}

.dropdown {
   text-align: center;
   display: inline-block;
   float: center;
   position: relative;

}

/***************************DROPDOWN MENU ON NAVIGATION for DESKTOP/MOBILE************************************/

.dropbtn,
.navigation a {
    background-color: white;
    color: #695D66;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Jaldi';
}

.menu, 
.stories {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    margin-left: -38px;

}

.dropdown-content a,
#mobile a {
    color: #E0D3DE;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn:hover {
    color: #E0D3DE;

}


.dropdown-content a:hover {
    color: #695D66 ;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: 1.5px solid #E0D3DE;
    margin-top: -20px;
    letter-spacing: 5px;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

#about,
#contact {
    font-weight: bolder;
}

/********DROPDOWN MENU ON NAVIGATION for MOBILE(built mobile first)******/

#menubtn {
    height: 40px;
    width: 40px;
    margin-bottom: -10px;
    margin-top: 10px;
    float: center;
    margin-right: 5px;
}
#menubtn:hover {
    opacity: 0.4;
}


#mobile {
    position: absolute;
    width: 220px;
    background-color: white;
    z-index: 1; 
    border: 1px solid #695d66 ;
    text-align: center;
    float: right;
    margin-top: 10px;
    margin-left: 60px;
    letter-spacing: 2px;
}

#mobile a {
    font-size: 18px;
    margin-top: -10px;    
} 

#mobile a:hover {
    color: #695d66;
    font-size: 16px;
    padding: 12px;
}

#about a,
#contact a {
    color: black;
}

#mobile ul, li {
    padding-right: 40px;
}


/********IMAGE CARUSELE******/

.fade {
    margin-top: 20px;
}

.fade img {
    height: 275px;
    width: 400px;
    margin: 10px auto;
    padding-right: 0;
}
#shauna img{
    height: 275px;
    width:auto;
}

/********SOCIAL******/

.contact {
    display: flex;
    flex-direction: row wrap;
   justify-content: center;
   margin-top: 100px;
}

.contact img {
    height: 30px;
    width: 30px;
}

.contact img:hover {
    opacity: 0.4;

}

/********BRING ME BACK******/

#bringmeback {
    text-align: center;
    margin-top: 30px;
}
    #bringmeback a {
    color: #4F6178;
}


/********FOOTER******/

footer {
    text-align: center;
    margin-top: 50px;
    color: #4F6178;
}

#footer-copy {
    font-size: 12px;
}

/*********************** ABOUT PAGE CSS ************************/
/********************************************************** ************************/

#selfie {
    width: 100%;
    height: auto;
    margin-top: 30px;
}






/***********************STORIES STYLES************************/
/***********************************************************************************/
.story1,
.story2,
.inthegray { 
    width: 85%;
    float: center;
    text-align: left;
    font-size: 15px;
    margin: auto;
    display: block;
    overflow: none;
}

#fday,
#sj {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    float:left;
}

 

#dad img {
    display: block;
    margin: auto;
    height: 350px;
    width: 350px;
    padding-bottom: 20px;

}

.sj-images img,
.inthegray img {
        margin-bottom: 20px;
        width: 350px;
        height: auto;
    }

.sj-images {
    margin-top: 30px;
}





/*********************** MEDIA QUERIES ************************/




@media only screen and (min-width: 481px){
    .navigation {
        justify-content: space-around;
    }

    #mobile {
    margin-top: 10px;
    margin-left: 150px;
    } 
    
}



@media only screen and (min-width : 768px){
    body {
        width: 90%;
        }

        .fade {
            margin-top: -0px;
             }

        .fade img {
                height: 500px;
                width: auto;
                margin: 10px auto;
                padding-right: 10px;
            }
            #shauna img{
        height: 500px;
        width:auto;
    }

    /********MAIN NAME******/

        .title {
            margin-top: 20px;
            text-align: left;

        }

/*******NAVIGATION MENU******/

    .navigation  {
        display: flex;
        flex-direction: row no-wrap;
        justify-content: flex-end;
        align-content: space-around;
        margin-bottom: 20px;
        margin-top: -60px;
       }

    #mobile ul, li {
        padding-right: 0;
        padding-left: 0;
        }

    .dropdown-content a {
        margin: 5px 10px;
    }

    #mobile {
        display: none;
        }

    #menubtn {
        display: none;
        }

    #desktop {
        display: flex;
        margin-right: -20px;
        }

    .contact img {
        height: 50px;
        width: 50px;
        }



        /*******STORY TIME PAGES******/

    .story1,
    .story2, 
    .inthegray { 
        width: 80%;
        margin-top: 20px;
        margin-bottom: 40px;
        }


        #dad {
            width: 100%;
        }

        .story2,
        .inthegray {
            display: flex;
            flex-direction: column;
        }


 

    .sj-images,
    .inthegray {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sj-images img {
        margin-bottom: 40px;
        height:100%;
        width: auto;
    }
}

/*    @media only screen and (min-width: 1024px) {
        body {
         background-color: white;
                width: 90%;
            }
  


















